@{
}

<h2>@ViewBag.Title</h2>
<br />
<bt />
<div>ERP main page</div>

<!--<div>거래처</div>
<ul>
    <li><a href="/Customer/CustomerRegist">거래처등록</a></li>
    <li><a href="/Customer/CustomerList">거래처조회</a></li>
</ul>
<div>품목</div>
<ul>
    <li><a href="/Product/ProductRegist">품목등록</a></li>
    <li><a href="/Product/ProductList">품목조회</a></li>
</ul>
<div>구매</div>
<ul>
    <li><a href="/Purchase/PurchaseRegist">구매입력</a></li>
    <li><a href="/Purchase/PurchaseList">구매조회</a></li>
</ul>
<div>판매</div>
<ul>
    <li><a href="/Sale/SaleRegist">판매입력</a></li>
    <li><a href="/Sale/SaleList">판매조회</a></li>
</ul>
<div>재고</div>
<ul>
    <li><a href="/Inventory/Inventory">재고현황</a></li>
</ul>-->